#menu
{
background-color:ec4738;
}
#menu ul
{
list-style: none;
background-color:ec4738;
}
#menu ul li 
{

border:2px solid white;
font-size:40px;
width :170px;
height: 50px;
line-height:60px;
text-align:center;
float: left;
margin:10px;
}
#divr
{
border:2px solid black;
font-size:20px;
width :300px;
height:250px;
line-height:60px;
float:right;
}
#div1
{
border:2px solid black;
font-size:20px;
width :250px;
height:250px;
line-height:60px;
float:left;
margin:40px;
padding:15px;
}
#div2
{
border:2px solid black;
font-size:20px;
width :250px;
height:250px;
line-height:60px;
float:left;
margin:40px;
padding:15px;
}
#div3
{
border:2px solid black;
font-size:20px;
width :250px;
height:250px;
line-height:60px;
float:left;
margin:40px;
padding:15px;
}
#div4
{
border:2px solid black;
font-size:20px;
width :250px;
height:250px;
line-height:60px;
float:left;
margin:40px;
padding:15px;
}


#div11
{
	border:2px solid black;
font-size:20px;
width :550px;
height:250px;
line-height:60px;
float:left;
margin:100px;
}

#div21
{
	border:2px solid black;
font-size:20px;
width :500px;
height:250px;
line-height:60px;
float:right;
margin:100px;
}